credentials/C5kOXzit19ogT93D.json
{
  "active": false,
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set accounts": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-09-04T11:15:41.394Z",
  "id": "C5kOXzit19ogT93D",
  "isArchived": true,
  "meta": null,
  "name": "Set accounts",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/{{$env.NOTION_ACCOUNTS_DB_ID}}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -144
      ],
      "id": "9b1aad46-3a26-4d5a-a0b7-79b21c64feaa",
      "name": "HTTP Request1",
      "executeOnce": false,
      "credentials": {
        "notionApi": {
          "id": "AsGtyqU0ytLCHIWo",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4030a939-8d89-4721-84f1-d6cc3f808929",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        464,
        -48
      ]
    },
    {
      "parameters": {
        "url": "https://api.monobank.ua/personal/client-info",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Token",
              "value": "={{$env.MONO_SECRET_KEY}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        48
      ],
      "id": "a3a155f8-213e-4364-828d-44bd0e287dfc",
      "name": "HTTP Request",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n  n.notionId  AS notionId,\n  n.name      AS name,\n  n.currencyId  AS currencyId,\n  n.iban      AS iban,\n  COALESCE(b.bankId, NULL) AS bankId   -- empty string when no bank match\nFROM input1 AS n\nLEFT JOIN input2 AS b\n  ON n.iban = b.iban\nORDER BY n.name;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        -48
      ],
      "id": "6e1d649f-9e8f-4eba-89a3-caa9b89ed2da",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results;\n\nconst mappedAccounts = results.map(acc => \n  ({\n    \"notionId\": acc.id,\n    \"name\": acc.properties.Name.title[0].plain_text,\n    \"currencyId\": acc.properties.Currency.relation[0].id,\n    \"iban\": acc.properties.IBAN.rich_text[0]?.plain_text\n  })\n);\n\nreturn mappedAccounts;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -144
      ],
      "id": "554b11eb-0f95-4863-985e-02b181dab21a",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.accounts;\n\nconst mappedAccounts = results.map(acc => \n  ({\n    \"bankId\": acc.id,\n    \"iban\": acc.iban\n  })\n);\n\nreturn mappedAccounts;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        48
      ],
      "id": "cec53046-069c-4bbe-a801-3648e6671530",
      "name": "Code1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        -48
      ],
      "id": "45eb59d8-ab89-4897-b12a-cc2f58d5beb9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "financeManager",
        "value": "={{\n  {\n      \"accounts\": JSON.stringify($json.data)\n  }\n}}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1584,
        -48
      ],
      "id": "1b7b8697-c01b-4c1f-98db-656da5ab43b7",
      "name": "Set accounts",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "Mrfqpfn7I6IiBzeh",
          "name": "Redis"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-04T11:15:41.394Z",
      "updatedAt": "2025-09-04T11:15:41.394Z",
      "role": "workflow:owner",
      "workflowId": "C5kOXzit19ogT93D",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T11:15:57.493Z",
  "versionId": "9a150d79-809d-4bb2-ac9d-efe6648c1a64"
}