credentials/dQRIiRRIy9jcVta3.json
{
  "active": false,
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T11:15:41.399Z",
  "id": "dQRIiRRIy9jcVta3",
  "isArchived": true,
  "meta": null,
  "name": "Set categories",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/{{$env.NOTION_CATEGORIES_DB_ID}}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -144
      ],
      "id": "9da91bee-2ed5-430f-9a4f-141435533f01",
      "name": "HTTP Request1",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "AsGtyqU0ytLCHIWo",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        -144
      ],
      "id": "427172c0-0c02-49de-8cf4-fa41c2e4e075",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0537b20a-3ca9-4069-bcb3-961ce038c218",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        464,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "financeManager",
        "value": "={{\n  {\n    categories: JSON.stringify($json.data)\n  }\n}}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ],
      "id": "897e081c-651c-4415-94f8-4274ab089329",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "Mrfqpfn7I6IiBzeh",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results;\n\nconst mappedCategories = results.map(cat => \n  ({\n    \"notionId\": cat.id,\n    \"name\": cat.properties.Name.title[0]?.plain_text,\n    \"icon\": cat.icon.external.url,\n    \"mcc\": cat.properties.MCC.rich_text[0]?.plain_text.split(\",\").map(k => k.trim()),\n    \"keyword\": cat.properties.Keyword.rich_text[0]?.plain_text.split(\",\").map(k => k.trim())\n  })\n);\n\nreturn mappedCategories;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -144
      ],
      "id": "b27515dc-bfb7-46a6-8672-152d5cab6e60",
      "name": "Code"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-04T11:15:41.399Z",
      "updatedAt": "2025-09-04T11:15:41.399Z",
      "role": "workflow:owner",
      "workflowId": "dQRIiRRIy9jcVta3",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T11:15:59.706Z",
  "versionId": "38e571f9-1815-4768-b6c2-c8950d500601"
}