credentials/Qkpw9NTSsqXjPjyh.json
{
  "active": false,
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set currencies": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T11:43:39.385Z",
  "id": "Qkpw9NTSsqXjPjyh",
  "isArchived": true,
  "meta": null,
  "name": "Set accounts",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  {\n    \"accountId\": $json.properties.ID.rich_text[0] ? \n                      $json.properties.ID.rich_text[0].plain_text : \n                      null,\n    \"notionId\": $json.id,\n    \"name\": $json.properties.Name.title[0].plain_text,\n    \"currency\": $json.properties.Currency.relation[0].id\n  }\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -144
      ],
      "id": "7245391f-41a5-443f-8196-ea930bbb9ab9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        912,
        -144
      ],
      "id": "ad193237-4888-4a00-8f29-16e6405d6f3d",
      "name": "Split Out",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/{{$env.NOTION_ACCOUNTS_DB_ID}}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -144
      ],
      "id": "66e91ab7-fd9e-441b-b918-261547619423",
      "name": "HTTP Request1",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "AsGtyqU0ytLCHIWo",
          "name": "Notion – Personal"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "accounts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ],
      "id": "2b46985f-9491-43f3-9dac-5f0aae0fcfe0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "financeManager",
        "value": "={{\n  {\n      \"accounts\": JSON.stringify($json)\n  }\n}}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1584,
        -144
      ],
      "id": "98ce2fa2-80f6-4a98-9ae2-9c93e1185973",
      "name": "Set currencies",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "Mrfqpfn7I6IiBzeh",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "58289376-b155-4aa4-9481-db145c4037e2",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        464,
        -144
      ]
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-09T11:43:39.385Z",
      "updatedAt": "2025-08-09T11:43:39.385Z",
      "role": "workflow:owner",
      "workflowId": "Qkpw9NTSsqXjPjyh",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T13:56:00.380Z",
  "versionId": "ed577899-b1bb-452b-a618-bcff409a77e4"
}