credentials/tAfcmWqBwUrZNPG3.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter UAH",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter EUR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set UAH": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter UAH": {
      "main": [
        [
          {
            "node": "Set UAH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter EUR": {
      "main": [
        [
          {
            "node": "Set EUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set USD": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set EUR": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T11:15:41.316Z",
  "id": "tAfcmWqBwUrZNPG3",
  "isArchived": true,
  "meta": null,
  "name": "Set currency rates",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        176
      ],
      "id": "c9e9482e-f1de-4f64-8efb-7a4c62597628",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.monobank.ua/bank/currency",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        176
      ],
      "id": "1a3172e6-7f2d-4ce3-80d3-8cb54402953b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{$env.NOTION_RATES_DB_ID}}",
          "mode": "id"
        },
        "title": "={{ $json.code }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "includeTime": false,
              "date": "={{ $today }}"
            },
            {
              "key": "Buy|number",
              "numberValue": "={{ $json.buy }}"
            },
            {
              "key": "Sell|number",
              "numberValue": "={{ $json.sell }}"
            },
            {
              "key": "Code|title",
              "title": "={{ $json.code }}"
            },
            {
              "key": "Currency|relation",
              "relationValue": [
                "={{ $json.relation }}"
              ]
            }
          ]
        },
        "options": {
          "icon": "={{ $json.icon }}"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        544,
        176
      ],
      "id": "c938f780-1d87-4c1d-93cb-2d392c0b0a57",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "AsGtyqU0ytLCHIWo",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \n    \"icon\": \"🇺🇦\",\n    \"code\": \"UAH\",\n    \"buy\": {{$json.rateBuy}},\n    \"sell\": {{$json.rateSell}},\n    \"relation\": \"23b0d34ec61c80c28e30d1e1e1bafbc8\",\n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "ea10b80b-2029-4d3c-84ad-f68fd85fb659",
      "name": "Set UAH",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \n    \"icon\": \"🇪🇺\", \n    \"code\": \"EUR\", \n    \"buy\": {{1/$json.rateBuy}}, \n    \"sell\": {{1/$json.rateSell}},\n    \"relation\": \"23b0d34ec61c8051b239d377c8ad9fae\"\n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        336
      ],
      "id": "4a5fbc0a-f5e6-40f3-8281-039164a92dcb",
      "name": "Set EUR",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d0d6215-f7ef-44c7-b1d8-e6611cb8e935",
              "leftValue": "={{ $json.currencyCodeA }}",
              "rightValue": 840,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4d8cf85c-e11f-4035-b7d1-cac302fea913",
              "leftValue": "={{ $json.currencyCodeB }}",
              "rightValue": 980,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "1a5488bb-7c7e-461d-8684-18b535827f76",
      "name": "Filter UAH",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d0d6215-f7ef-44c7-b1d8-e6611cb8e935",
              "leftValue": "={{ $json.currencyCodeA }}",
              "rightValue": 978,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4d8cf85c-e11f-4035-b7d1-cac302fea913",
              "leftValue": "={{ $json.currencyCodeB }}",
              "rightValue": 840,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        336
      ],
      "id": "74a1e460-5037-42d4-81fe-6210166665bc",
      "name": "Filter EUR",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"icon\": \"🇺🇸\",\n  \"code\": \"USD\",\n  \"buy\": 1,\n  \"sell\": 1,\n  \"relation\": \"23b0d34ec61c8026bae8e672f967f0d1\"\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        176
      ],
      "id": "a35f81d5-7b09-4ebe-be16-58994abb8275",
      "name": "Set USD",
      "alwaysOutputData": true,
      "executeOnce": true
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv"
  },
  "shared": [
    {
      "createdAt": "2025-09-04T11:15:41.316Z",
      "updatedAt": "2025-09-04T11:15:41.316Z",
      "role": "workflow:owner",
      "workflowId": "tAfcmWqBwUrZNPG3",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T11:16:03.652Z",
  "versionId": "20ec56dc-026f-4521-80a4-6834491fbe48"
}