workflows/1Fth54XFaU8VPiMs.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Set accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Call Set accounts": {
      "main": [
        [
          {
            "node": "Get accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get accounts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T12:51:42.905Z",
  "id": "1Fth54XFaU8VPiMs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get accounts",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "bankId"
            }
          ]
        }
      },
      "id": "82a6f455-ed8a-4dff-b934-86ab4e6b2ee8",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        -272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "35572f4c-2cc6-4d6f-860b-dfee9a52a1df",
              "leftValue": "={{ $json.cache.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "a37ab1bc-ea40-4187-9dd1-7c8f47004bf7",
              "leftValue": "={{ $json.cache.accounts.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -336
      ],
      "id": "b15f2b4f-ee6d-4644-bcd4-5846f266a38a",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const bankId = $('Start').first().json.bankId\nconst accounts = JSON.parse($input.first().json.cache?.accounts)\n\nif (bankId) {\n return accounts.find(item => \n    item.bankId === bankId) || {}\n} else {\n  return {accounts}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -352
      ],
      "id": "274e351f-953e-4190-9629-997fae5cd646",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vy3yITIYs4TaEEEY",
          "mode": "list",
          "cachedResultName": "Set accounts 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        -176
      ],
      "name": "Call Set accounts",
      "id": "d54bb0a7-42bf-4c3e-a63b-e43f05c0c64c"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "cache",
        "key": "financeManager",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        -272
      ],
      "id": "3fb18967-97ca-4ae8-a5d2-e1c83f25d275",
      "name": "Get accounts",
      "credentials": {
        "redis": {
          "id": "xIeRUNfRDfJ3EWPR",
          "name": "Redis"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-09T12:51:42.905Z",
      "updatedAt": "2025-08-09T12:51:42.905Z",
      "role": "workflow:owner",
      "workflowId": "1Fth54XFaU8VPiMs",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-03T18:10:21.479Z",
      "updatedAt": "2025-09-03T18:10:21.479Z",
      "id": "hyYDR00qVEuE8c9t",
      "name": "finance-manager"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-07T08:55:20.625Z",
  "versionId": "f6b3639f-c1e2-45c1-945f-6aa7f705a855"
}