workflows/aFS01kUAPYf2oNcb.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get currency rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set UAH": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter UAH": {
      "main": [
        [
          {
            "node": "Set UAH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter EUR": {
      "main": [
        [
          {
            "node": "Set EUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set USD": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set EUR": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get currency rates": {
      "main": [
        [
          {
            "node": "Filter UAH",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter EUR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-04T09:31:02.940Z",
  "id": "aFS01kUAPYf2oNcb",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Set currency rates",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        192
      ],
      "id": "c9e9482e-f1de-4f64-8efb-7a4c62597628",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \n    \"icon\": \"🇺🇦\",\n    \"code\": \"UAH\",\n    \"buy\": {{$json.rateBuy}},\n    \"sell\": {{$json.rateSell}},\n    \"relation\": \"23b0d34ec61c80c28e30d1e1e1bafbc8\",\n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "ea10b80b-2029-4d3c-84ad-f68fd85fb659",
      "name": "Set UAH",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \n    \"icon\": \"🇪🇺\", \n    \"code\": \"EUR\", \n    \"buy\": {{1/$json.rateBuy}}, \n    \"sell\": {{1/$json.rateSell}},\n    \"relation\": \"23b0d34ec61c8051b239d377c8ad9fae\"\n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        384
      ],
      "id": "4a5fbc0a-f5e6-40f3-8281-039164a92dcb",
      "name": "Set EUR",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d0d6215-f7ef-44c7-b1d8-e6611cb8e935",
              "leftValue": "={{ $json.currencyCodeA }}",
              "rightValue": 840,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4d8cf85c-e11f-4035-b7d1-cac302fea913",
              "leftValue": "={{ $json.currencyCodeB }}",
              "rightValue": 980,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        0
      ],
      "id": "1a5488bb-7c7e-461d-8684-18b535827f76",
      "name": "Filter UAH",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d0d6215-f7ef-44c7-b1d8-e6611cb8e935",
              "leftValue": "={{ $json.currencyCodeA }}",
              "rightValue": 978,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4d8cf85c-e11f-4035-b7d1-cac302fea913",
              "leftValue": "={{ $json.currencyCodeB }}",
              "rightValue": 840,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        384
      ],
      "id": "74a1e460-5037-42d4-81fe-6210166665bc",
      "name": "Filter EUR",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"icon\": \"🇺🇸\",\n  \"code\": \"USD\",\n  \"buy\": 1,\n  \"sell\": 1,\n  \"relation\": \"23b0d34ec61c8026bae8e672f967f0d1\"\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        192
      ],
      "id": "a35f81d5-7b09-4ebe-be16-58994abb8275",
      "name": "Set USD",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  $json\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        192
      ],
      "id": "cd87f0fe-e7be-4a29-b3b6-f3d570f1b4a6",
      "name": "Update Notion",
      "credentials": {
        "notionApi": {
          "id": "d9JekbtN93vwk6qU",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.monobank.ua/bank/currency",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        192
      ],
      "id": "1a3172e6-7f2d-4ce3-80d3-8cb54402953b",
      "name": "Get currency rates"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"parent\": { \n      \"database_id\": $env.NOTION_RATES_DB_ID \n    },\n    \"icon\": {\n      \"type\": \"emoji\",\n      \"emoji\": $json?.icon\n    },\n    \"properties\": {\n      \"Code\": {\n        \"title\": [{\n          \"type\": \"text\",\n          \"text\": { \"content\": $json?.code }\n        }]\n    },\n      \"Date\": {\n        \"date\": {\n          \"start\": $('Get currency rates').item.json?.date.toDateTime('s')\n        }\n      },\n      \"Buy\": {\n        \"number\": $json?.buy\n      },\n      \"Sell\": {\n        \"number\": $json?.sell\n      },\n      \"Currency\": {\n        \"relation\": $json.relation ?\n          [{\"id\": $json.relation}] :\n          []\n      }\n    }\n  }\n}}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        192
      ],
      "id": "4bc0de70-1f43-4744-8237-3f336ded7918",
      "name": "Edit Fields"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-04T09:31:02.940Z",
      "updatedAt": "2025-08-04T09:31:02.940Z",
      "role": "workflow:owner",
      "workflowId": "aFS01kUAPYf2oNcb",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-09-03T18:10:21.479Z",
      "updatedAt": "2025-09-03T18:10:21.479Z",
      "id": "hyYDR00qVEuE8c9t",
      "name": "finance-manager"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-13T10:44:42.493Z",
  "versionId": "1e7beab2-90dc-4a6b-91a5-6334a0df130a"
}