workflows/D5zbqmzQ7hKegWsQ.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Set currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Get currencies": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Set currencies": {
      "main": [
        [
          {
            "node": "Get currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-04T09:29:47.308Z",
  "id": "D5zbqmzQ7hKegWsQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get currencies",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "currencyCode",
              "type": "number"
            }
          ]
        }
      },
      "id": "9bef5e4e-8753-48fc-bbf6-c4bc2beed418",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        -272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "35572f4c-2cc6-4d6f-860b-dfee9a52a1df",
              "leftValue": "={{ $json.cache.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "a37ab1bc-ea40-4187-9dd1-7c8f47004bf7",
              "leftValue": "={{ $json.cache.currencies.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -336
      ],
      "id": "89a6f9d6-3d6f-4f81-a557-6a00fdc13ebf",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const code = $('Start').first().json.currencyCode\nconst currencies = JSON.parse($input.first().json.cache?.currencies)\n\nif (code !== null) {\n return currencies.currencies.find(c => \n    c.currencyNumber == $('Start').first().json.currencyCode) || {}\n} else {\n  return currencies\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -352
      ],
      "id": "e504c3f6-799f-423f-825e-d1a055861fe6",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "cache",
        "key": "financeManager",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        -272
      ],
      "id": "ff24d577-f768-478b-a3b0-4d575c6f9d1a",
      "name": "Get currencies",
      "credentials": {
        "redis": {
          "id": "xIeRUNfRDfJ3EWPR",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jBhOqiseOdi3RvpB",
          "mode": "list",
          "cachedResultName": "Set currencies"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        -176
      ],
      "name": "Call Set currencies",
      "id": "f61b3ecd-79c0-4232-adb5-fdccc2bf5d2f"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-04T09:29:47.308Z",
      "updatedAt": "2025-08-04T09:29:47.308Z",
      "role": "workflow:owner",
      "workflowId": "D5zbqmzQ7hKegWsQ",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-03T18:10:21.479Z",
      "updatedAt": "2025-09-03T18:10:21.479Z",
      "id": "hyYDR00qVEuE8c9t",
      "name": "finance-manager"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-12T11:11:25.424Z",
  "versionId": "be8e40e4-8fde-452b-81ea-230587faebdd"
}