workflows/G7hvsbFSU9nUakiF.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Get account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit transaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Get category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set transaction": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If known account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get account": {
      "main": [
        [
          {
            "node": "Edit account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get category": {
      "main": [
        [
          {
            "node": "Edit category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit category": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit transaction": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit account": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update Notion": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If known account": {
      "main": [
        [
          {
            "node": "Set transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-25T13:51:22.479Z",
  "id": "G7hvsbFSU9nUakiF",
  "isArchived": false,
  "meta": null,
  "name": "Set transactions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{$env.MONO_WEBHOOK_PATH}}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -128
      ],
      "id": "abae4768-b359-4dab-98bf-51af96e54dd1",
      "name": "Webhook",
      "webhookId": "a9b67149-49b3-4608-8ff1-981980a68852"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"parent\": {\n      \"database_id\": $env.NOTION_TRANSACTIONS_DB_ID\n    },\n    \"icon\": {\n      \"type\": external,\n      \"external\": {\n        \"url\": $json.category.icon ?\n                  $json.category.icon :\n                  \"https://www.notion.so/icons/swap-vertically_lightgray.svg\"\n      }\n    },\n    \"properties\": {\n      \"Description\": {\n        \"title\": [\n          {\n            \"text\": {\n              \"content\": $json.transaction.desciption ?\n                            $json.transaction.desciption :\n                            \"\"\n            }\n          }\n        ]\n      },\n      \"Amount\": {\n        \"number\": $json.transaction.amount ?\n                    Math.abs($json.transaction.amount) / 100 :\n                    null\n      },\n      \"Currency\": {\n        \"relation\": $json.account.currencyId ?\n                      [{\"id\": $json.account.currencyId}] :\n                      []\n      },\n      \"Date\": {\n        \"date\": {\n          \"start\": $json.transaction.time ? \n                      $json.transaction.time.toDateTime('s') :\n                      null\n        }\n      },\n      \"Type\": {\n        \"select\": {\n          \"name\": $json.transaction.amount ?\n                    $json.transaction.amount < 0 ?\n                      \"Expense\" : \n                      \"Income\" :\n                    \"\"\n        }\n      },\n      \"Category\": {\n        \"relation\": $json.category.notionId ?\n                  [{\"id\": $json.category.notionId}] :\n                  []\n      },\n      \"Account\": {\n        \"relation\": $json.account.notionId ?\n                  [{\"id\": $json.account.notionId}] :\n                  []\n      },\n      \"ID\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": $json.transaction.id ?\n                            $json.transaction.id :\n                            \"\",\n              \"link\": null\n            }\n          }\n        ]\n      }\n    }\n  }\n}}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -128
      ],
      "id": "d17e8f4b-501f-447a-b011-765691f8d9b3",
      "name": "Set transaction"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -144
      ],
      "id": "13460c68-68ac-414a-a1dc-f67b3bd2f14c",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1Fth54XFaU8VPiMs",
          "mode": "list",
          "cachedResultName": "Get accounts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bankId": "={{ $json.body.data.account }}"
          },
          "matchingColumns": [
            "accountId"
          ],
          "schema": [
            {
              "id": "bankId",
              "displayName": "bankId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        64
      ],
      "id": "f61cf7c8-847e-4d03-9326-a0b59d0a73ec",
      "name": "Call Get account"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7w6oHtBElme4qDqf",
          "mode": "list",
          "cachedResultName": "Get categories"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mcc": "={{ $json.body.data.statementItem.mcc }}",
            "description": "={{ $json.body.data.statementItem.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mcc",
              "displayName": "mcc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        -320
      ],
      "name": "Call Get category",
      "id": "e3647c7a-2666-4170-81b2-22fac3372832"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"category\": {{ $json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -320
      ],
      "id": "ee3ac8ba-673c-4ac1-80b3-97a9cfcb112d",
      "name": "Edit category"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"transaction\": {\n      \"amount\": $json.body.data.statementItem.amount,\n      \"desciption\": $json.body.data.statementItem.description,\n      \"time\": $json.body.data.statementItem.time,\n      \"id\": $json.body.data.statementItem.id,\n      \"mcc\": $json.body.data.statementItem.mcc\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -128
      ],
      "id": "9aeb40fe-9191-40f3-9ffd-c935a502b7f4",
      "name": "Edit transaction"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  {\n    \"account\": $json\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        64
      ],
      "id": "a4ac1c2d-12bd-4ea6-90c5-cb152471e2b9",
      "name": "Edit account"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  $json\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -128
      ],
      "id": "39420b68-8f12-4400-aacf-0430b68e7d5b",
      "name": "Update Notion",
      "credentials": {
        "notionApi": {
          "id": "d9JekbtN93vwk6qU",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "description",
              "value": "={{ $('Merge').item.json.transaction.desciption }}"
            },
            {
              "key": "amount",
              "value": "={{ $('Merge').item.json.transaction.amount / 100}}"
            },
            {
              "key": "date",
              "value": "={{ $('Merge').item.json.transaction.time.toDateTime('s').format('dd/MM/yy HH:MM') }}"
            },
            {
              "key": "account",
              "value": "={{ $('Merge').item.json.account.name }}"
            },
            {
              "key": "mccOrig",
              "value": "={{ $('Merge').item.json.transaction.mcc }}"
            },
            {
              "key": "mccMatch",
              "value": "={{ $('Merge').item.json.category.mcc?.first() }}"
            },
            {
              "key": "categoryMatch",
              "value": "={{ $('Merge').item.json.category.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1568,
        -128
      ],
      "id": "e60b3841-158f-425b-8c53-4b8c6b60af47",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "632ba1f5-faff-455e-968b-657e52ab7e09",
              "leftValue": "={{ $json.account }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -128
      ],
      "id": "de13d02e-c547-4e85-a2a7-7e34c768cd04",
      "name": "If known account",
      "notesInFlow": false,
      "notes": "Filters out the accounts that didn't match the IBAN in Notion. \nDisable this node to write transactions across all accounts"
    },
    {
      "parameters": {
        "content": "Filters out the accounts that didn't match the IBAN in Notion. \nDisable this node to write transactions across all accounts",
        "height": 320,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -240
      ],
      "typeVersion": 1,
      "id": "06f0b845-d6f4-4f7f-8b91-4f00447e75af",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        64
      ],
      "id": "043b737e-1128-4be8-b67a-97439eddffba",
      "name": "No Operation, do nothing"
    }
  ],
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T13:51:22.479Z",
      "updatedAt": "2025-08-25T13:51:22.479Z",
      "role": "workflow:owner",
      "workflowId": "G7hvsbFSU9nUakiF",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-03T18:10:21.479Z",
      "updatedAt": "2025-09-03T18:10:21.479Z",
      "id": "hyYDR00qVEuE8c9t",
      "name": "finance-manager"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-12T13:10:36.679Z",
  "versionId": "12a94b48-9ea4-47e4-80bd-a0c480eb80c2"
}