workflows/GxiHF89Fw6Qqiyqa.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get n8n workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Split remote",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split local",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Delete workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format external": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split local": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split remote": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get file content": {
      "main": [
        [
          {
            "node": "Format external",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get n8n workflows": {
      "main": [
        [
          {
            "node": "Format internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format internal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workflows from GitHub": {
      "main": [
        [
          {
            "node": "Get file content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete workflow": {
      "main": [
        [
          {
            "node": "Return unique (local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update workflow": {
      "main": [
        [
          {
            "node": "Return updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create workflow": {
      "main": [
        [
          {
            "node": "Return added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get workflows from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T19:46:06.033Z",
  "id": "GxiHF89Fw6Qqiyqa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Restore workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "57abff8e-21f7-4be2-9aab-e5dcdd08d7fd",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        352,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 799,
        "width": 1591,
        "color": 6
      },
      "id": "63b412bd-48f8-4e20-9e7c-7c79317ec063",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "46429bcc-318b-48d8-bb0e-75486f4b1e28",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        352,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 435,
        "width": 1589,
        "color": 7
      },
      "id": "2decf095-7e99-495f-94e9-7b2d54ae64db",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {
          "skipFields": "createdAt, updatedAt"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        800,
        848
      ],
      "id": "1cd347b5-ed94-4d26-9976-8ec062e84201",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"workflow\": $json.name,\n    \"result\": \"skipped\"\n  }\n}}\n",
        "options": {}
      },
      "id": "c00c6b4b-6756-4291-8de4-d6ed1447c94d",
      "name": "Return skipped",
      "type": "n8n-nodes-base.set",
      "position": [
        1024,
        784
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"workflow\": $json.name,\n    \"result\": \"created\"\n  }\n}}\n",
        "options": {}
      },
      "id": "61fb84b6-35dc-4c92-bc2e-2afbac22decd",
      "name": "Return added",
      "type": "n8n-nodes-base.set",
      "position": [
        1248,
        1168
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"workflow\": $json.name,\n    \"result\": \"skipped\"\n  }\n}}\n",
        "options": {}
      },
      "id": "8d77aec2-1174-4bbb-8966-132628fb9d42",
      "name": "Return updated",
      "type": "n8n-nodes-base.set",
      "position": [
        1248,
        976
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1472,
        240
      ],
      "id": "361b00de-537c-4766-a2e8-fae3fde470ef",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()\nconst output = input.map(c => JSON.parse(c.json.data))\nreturn {\"remote\": output}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        336
      ],
      "id": "d90a5bbb-8621-4d81-9a9e-68ace3cb6631",
      "name": "Format external"
    },
    {
      "parameters": {
        "fieldToSplitOut": "local",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        784
      ],
      "id": "7c265737-3132-4a13-b7b8-d9be85500586",
      "name": "Split local"
    },
    {
      "parameters": {
        "fieldToSplitOut": "remote",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        976
      ],
      "id": "7a5f69f9-7916-49fc-aeea-e8b8fe839387",
      "name": "Split remote"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        336
      ],
      "id": "1525ec66-9f44-4a09-901b-0eeaed8b10e9",
      "name": "Get file content"
    },
    {
      "parameters": {
        "filters": {
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "id": "c82676bc-ebe8-42c2-8739-b5c065b4457d",
      "name": "Get n8n workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        576,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "xzK70YDN3zq9WWf1",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()\nconst output = input.map(c => c.json)\nreturn {\"local\": output}"
      },
      "id": "74546616-ced5-4ded-bdfc-31f03aee7eb1",
      "name": "Format internal",
      "type": "n8n-nodes-base.code",
      "position": [
        1248,
        144
      ],
      "typeVersion": 2,
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.repo.path }}"
      },
      "id": "5cd4cd4a-9a90-4520-9b39-4370327f3332",
      "name": "Get workflows from GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        800,
        336
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "webhookId": "ef0f0e82-5155-4039-99f7-55e58b3baba6",
      "credentials": {
        "githubApi": {
          "id": "8vSmf8gleGKalCjT",
          "name": "GitHub"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "c48006fb-b921-40a4-a950-867be9276285",
      "name": "Delete workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1024,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "xzK70YDN3zq9WWf1",
          "name": "n8n"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ \n  JSON.stringify((( { settings, ...rest } ) => rest)($json)) \n}}",
        "requestOptions": {}
      },
      "id": "0d696a58-b00d-4af4-9f59-abb6433115de",
      "name": "Update workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1024,
        976
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "xzK70YDN3zq9WWf1",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ \n  JSON.stringify((( { settings, ...rest } ) => rest)($json)) \n}}",
        "requestOptions": {}
      },
      "id": "a26d0dea-1e2f-4636-b399-875f03525135",
      "name": "Create workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1024,
        1168
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "xzK70YDN3zq9WWf1",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "akosarch"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "finance-manager"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "e8fddb3f-5b41-4bed-aae8-cd61d39fe284",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        576,
        336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1696,
        240
      ],
      "id": "8dbb1d6b-d9bb-41cc-a6aa-ab2b0e3ca942",
      "name": "Execute Workflow",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"workflow\": $json.name,\n    \"result\": \"unique (local)\"\n  }\n}}\n",
        "options": {}
      },
      "id": "f7ee67e5-675d-4952-82cb-8b80ec91b052",
      "name": "Return unique (local)",
      "type": "n8n-nodes-base.set",
      "position": [
        1248,
        592
      ],
      "typeVersion": 3.3
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-03T19:46:06.033Z",
      "updatedAt": "2025-09-03T19:46:06.033Z",
      "role": "workflow:owner",
      "workflowId": "GxiHF89Fw6Qqiyqa",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-09T07:46:43.997Z",
  "versionId": "011b6389-8eb6-44c4-a7ed-21ae8b443bda"
}