workflows/jBhOqiseOdi3RvpB.json
{
  "active": false,
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set currencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set currencies": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-04T17:06:29.929Z",
  "id": "jBhOqiseOdi3RvpB",
  "isArchived": false,
  "meta": null,
  "name": "Set currencies",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/{{$env.NOTION_CURRENCIES_DB_ID}}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -320
      ],
      "id": "b07b0bd4-06f0-4e07-bdb1-20917b0dcd5c",
      "name": "HTTP Request1",
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "AsGtyqU0ytLCHIWo",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        -320
      ],
      "id": "fbe6b34c-01ac-4537-b867-65e41c0b74e6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "financeManager",
        "value": "={{\n  {\n      \"currencies\": JSON.stringify($json.data)\n  }\n}}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        -320
      ],
      "id": "1cb12d8d-ae06-4161-8412-7c92b43322cb",
      "name": "Set currencies",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "Mrfqpfn7I6IiBzeh",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "952cb506-d463-4ff8-bf24-04a6a3f0251e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        464,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results;\n\nconst mappedCurrencies = results.map(cur => \n  (  {\n    \"notionId\": cur.id,\n    \"currencyCode\": cur.properties.Code.title[0].plain_text,\n    \"currencyNumber\": cur.properties.Number.number,\n    \"icon\": cur.icon.emoji\n  })\n);\n\nreturn mappedCurrencies;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -320
      ],
      "id": "bafcc97c-012e-4d3c-916d-61f603aedcac",
      "name": "Code"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-04T17:06:29.929Z",
      "updatedAt": "2025-08-04T17:06:29.929Z",
      "role": "workflow:owner",
      "workflowId": "jBhOqiseOdi3RvpB",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-03T18:10:21.479Z",
      "updatedAt": "2025-09-03T18:10:21.479Z",
      "id": "hyYDR00qVEuE8c9t",
      "name": "finance-manager"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-03T18:11:39.195Z",
  "versionId": "d16cf3e4-49ed-4a41-a5f8-dac226e9976a"
}