workflows/jubNPTrujQxRw15H.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Get account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Get currency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set transaction": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get account": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get currency": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-04T09:31:44.331Z",
  "id": "jubNPTrujQxRw15H",
  "isArchived": true,
  "meta": null,
  "name": "Set transactions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{$env.MONO_WEBHOOK_PATH}}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -80
      ],
      "id": "7a93d497-bb3b-434d-85a4-94ac3262fd07",
      "name": "Webhook",
      "webhookId": "eebe4cbb-18d3-44c5-9e2a-aa840ecdf10d"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"parent\": {\n      \"database_id\": $env.NOTION_TRANSACTIONS_DB_ID\n    },\n    \"icon\": {\n      \"type\": external,\n      \"external\": {\n        \"url\": \"https://www.notion.so/icons/swap-vertically_lightgray.svg\"\n      }\n    },\n    \"properties\": {\n      \"Description\": {\n        \"title\": [\n          {\n            \"text\": {\n              \"content\": $('Webhook').item.json.body.data.statementItem.description\n            }\n          }\n        ]\n      },\n      \"Amount\": {\n        \"number\": Math.abs($('Webhook').item.json.body.data.statementItem.amount) / 100\n      },\n      \"Currency\": {\n        \"relation\": $json.account.notionId ?\n                      [{\"id\": $json.account.currency}] :\n                      []\n      },\n      \"Date\": {\n        \"date\": {\n          \"start\": $('Webhook').item.json.body.data.statementItem.time.toDateTime('s')\n        }\n      },\n      \"Type\": {\n        \"select\": {\n          \"name\": ($('Webhook').item.json.body.data.statementItem.operationAmount < 0 ?\n      \"Expense\" : \n      \"Income\"\n    )\n        }\n      },\n      \"Category\": {\n        \"relation\": []\n      },\n      \"Account\": {\n        \"relation\": $json.account.notionId ?\n                  [{\"id\": $json.account.notionId}] :\n                  []\n      },\n      \"ID\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": $('Webhook').item.json.body.data.statementItem.id,\n              \"link\": null\n            }\n          }\n        ]\n      }\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -80
      ],
      "id": "aa2cae23-2ed8-4f65-80a2-bd3cc37a1345",
      "name": "Set transaction"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  $json\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -80
      ],
      "id": "a9265bdf-c879-4075-b7d4-756783ab8cd7",
      "name": "HTTP Request",
      "credentials": {
        "notionApi": {
          "id": "AsGtyqU0ytLCHIWo",
          "name": "Notion – Personal"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1Fth54XFaU8VPiMs",
          "mode": "list",
          "cachedResultName": "Get accounts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bankId": "={{ $json.body.data.account }}"
          },
          "matchingColumns": [
            "accountId"
          ],
          "schema": [
            {
              "id": "bankId",
              "displayName": "bankId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        16
      ],
      "id": "6cdf36d1-6619-47af-b74d-3396eb59813d",
      "name": "Call Get account"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -80
      ],
      "id": "71b17f9b-2abc-4e8e-aa04-691b56ab50bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"account\": {{ $json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        16
      ],
      "id": "9ca8f1c5-ab70-4df8-845a-414c31fee1b7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"currency\": {{ $json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -176
      ],
      "id": "9a54e66c-91e9-4250-b9f1-020d0da6255a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D5zbqmzQ7hKegWsQ",
          "mode": "list",
          "cachedResultName": "Get currencies"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "currencyCode": "={{ $json.body.data.statementItem.currencyCode }}"
          },
          "matchingColumns": [
            "currencyCode"
          ],
          "schema": [
            {
              "id": "currencyCode",
              "displayName": "currencyCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        -176
      ],
      "name": "Call Get currency",
      "id": "f95cc819-4b0a-4416-bde8-4a583bd1dea3"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-04T09:31:44.331Z",
      "updatedAt": "2025-08-04T09:31:44.331Z",
      "role": "workflow:owner",
      "workflowId": "jubNPTrujQxRw15H",
      "projectId": "BFkLzpzN26OoI8IT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T13:56:49.126Z",
  "versionId": "660ba11b-3bac-457c-a9a6-86cd42735801"
}